h1 {
    color:lightblue;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div {
    background-color: lightcoral;
    width: 100px;
    height: 100px;

    border-width: 5px;
    border-color: black;
    border-style: solid;

    border: 5px solid black;
}